body {
  background-color: #3f3f3f;
}
#allCont {
  display: flex;
  background-color: blueviolet;
}
#mainPgCont,
#storagePgCont,
#keyPgCont,
#faqPgCont {
  background-color: #3f3f3f;
  width: 600px;
  height: 500px;
  margin: 5px;
}
#keyPgCont {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#storagePgCont {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#navBarCont {
  background-color: #c1bfbf;
  width: 100px;
  height: 500px;
  margin: 5px;
  display: block;
}

#keyGenOutput {
  width: 300px;
  height: auto;
}
small {
  width: 300px;
  height: auto;
}
#inputContainer {
  /*background-color: chocolate;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
#leftIn {
  background-color: red;
  width: 244px;
  height: 208px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
#Lcont {
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
#rightOut {
  background-color: blue;
  width: 244px;
  height: 208px;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
}
#Rcont {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
#inData,
#outData,
#enDeKeyInput {
  resize: none;
  background: rgba(255, 179, 0, 0.311);
  border-width: 0px;
  border-radius: 7px;
  font-size: x-small;
}
#inData::placeholder,
#outData::placeholder,
#enDeKeyInput::placeholder {
  color: black;
}
/*This hides the scrollbar from the text areas*/
#inData::-webkit-scrollbar,
#outData::-webkit-scrollbar,
#enDeKeyInput::-webkit-scrollbar,
#keyArea::-webkit-scrollbar {
  display: none;
}

#Bcont {
  background-color: #a6a4a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#mainButtonArea {
  /*background-color: hotpink;*/
  display: flex;
  width: 400px;
  justify-content: space-evenly;

  margin: 10px;
  padding: 10px;
}

#keyAreaCont,
#pkTableCont {
  flex: 1;
  overflow-y: auto;
}
#keyArea,
#pkArea {
  display: flex;
  margin: 10px;
  align-items: center;
  flex-direction: column;
}

#storageTable,
#pkTable {
  background-color: #f1ccba;
  border-radius: 5px;
  table-layout: auto;
  width: 95%;
  padding: 10px;
}
#storageTable th,
#pkTable th {
  border-bottom: 2px solid #000;
}
#storageTable td,
#pkTable td {
  /*border-right: 1px solid #000;*/
  border-bottom: 0.3px dashed #000;
}
#KGbuttonArea,
#pkInCont {
  background-color: #a6a4a4;
  display: block;
  padding: 10px;
  margin: 10px;
  position: sticky;
  bottom: 0;
  border-radius: 10px;
}
#pkTxtIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
#pkIn {
  resize: none;
}
#KGBr1,
#PKSr1 {
  /*background-color: chartreuse;*/
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
#KGBr2 {
  /*background-color: blue;*/
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  padding-top: 10px;
}
#copyPubKGBtn,
#deleteKGBtn,
#copyPrivKGBtn,
#genKeysBtn,
#resetNumsBtn,
#pkInBtn,
#pkDelBtn,
#pkCopyBtn,
#encBtn,
#decBtn,
#cpyClip {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}
#copyPubKGBtn,
#copyPrivKGBtn,
#pkInBtn,
#encBtn,
#decBtn {
  background-color: rgb(30, 182, 65);
}
#deleteKGBtn,
#resetNumsBtn,
#pkDelBtn {
  background-color: rgb(193, 60, 60);
}
#genKeysBtn,
#pkCopyBtn,
#cpyClip {
  background-color: rgb(65, 185, 221);
}

#mainBtn,
#storBtn,
#keyBtn,
#faqBtn {
  background-color: #3f3f3f;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  width: 100px;
  height: 50px;
  border: none;

  overflow-y: auto;
}
.navBttn:hover {
  opacity: 0.75;
}
.navBttn:focus {
  background-color: grey;
}

.encBtn {
  display: block;
}

.selected {
  background-color: #98bffd;
  cursor: pointer;
}
tr:hover {
  opacity: 0.7;
  cursor: pointer;
}
p {
  color: #fff;
}
